* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-class { 
    
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}
.card-component {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 43rem;
    height: 30rem;
    background-color: white;
}
.card-component .card-image .product-img{
    width: 100%;
    height: 100%;
}

.card-component .card-text {
    padding: 2rem;
    width: 50%;
    height: 100%;
}
.card-component .card-text .headline-class {
    font-family: 'Fraunces', serif;
}
.card-component .card-text .product-text {
    text-transform: uppercase;
    padding: 0 1rem;
    letter-spacing: 2px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
.card-component .card-text .headline-class {
    text-transform: capitalize;
    padding: 1rem;
    
}
.card-component .card-text .about-class {
    padding: 1rem;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
.card-component .card-text .price-div {
    padding: 1rem;
    display: flex;
    
}
.card-component .card-text .price-div .discount-price {
    font-size: 2.6rem;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}
.card-component .card-text .price-div .original-price {
    margin: auto;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 12px;
}
.card-component .card-text .btn {
    display: flex;
    width: 15rem;
    margin: 1rem;
    background-color: hsl(158, 36%, 37%);
    padding: 1rem 4rem ;
    color: white;
    font-weight: 700;
    border-style: none;
    border-radius: 10px;
}
.card-component .card-text .btn p {
   margin-left: 1rem;
}
.attribution {

    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
#mobile-image {
    display: none;
}