
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    background-color: hsl(30, 38%, 92%);
}

.desktop-image {
    display: none;
}

main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.card-component {
    max-width: 50%;
    height: auto;
    
}

                /*** Image Stylesheet ***/
.mobile-image {
    max-width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

                /*** Card Text Stylesheet ***/
.card-text {
    max-width: 37.6rem;
    background-color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    border-radius: 0 0 20px 20px;
    padding: 2rem;
    
}

.card-text p:first-child{
    letter-spacing: 0.3rem;
    font-weight: 500;
    font-size: 0.76rem;
}

.card-text h1 {
    line-height: 1;
    font-family: 'Fraunces', serif;
    text-transform: capitalize;
   
}
.card-text p {
    color: hsl(228, 12%, 48%);
}

.card-text .product-info {
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.8;
   
}

.price .discount-price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}
.price .orignal-price {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);

}



                /*** BUTTON Stylesheet ***/
.card-text .btn {
    display: flex;
    padding: 1rem 0;
    color: #fff;
    background-color: hsl(158, 36%, 37%);
    border-style: none;
    width: 100%;
    border-radius: 10px;
    font-weight: 700;
}
.btn img {
    margin: auto;
    margin-right: 1rem;
}
.btn span{
    margin: auto;
    margin-left: 0;
    color: #fff;
}
.card-text .btn:hover {
    cursor: pointer;
    background-color: hsl(159, 38%, 23%);
}

                /*** Media query  ***/

@media screen and (min-width: 768px) {
    .mobile-image {
        display: none;
    }
    .desktop-image {
        display: block;
        max-width: 50%;
        border-radius: 20px 0 0 20px;
        
    }
    .card-component {
        display: flex;
        max-width: 37.5rem;
        height: auto;
        
    }
    .card-text {
        border-radius: 0 20px 20px 0;
        /* display: flex;
        flex-direction: column;
        justify-content: space-around; */
    }
    .card-text .price {
        display: flex;
        gap: 1rem;
    }
    .price .orignal-price {
        margin: auto;
    }
}


                /*** Footer Stylesheet ***/
.attribution {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
}

